// CLEAN THIS UP SOON
@import url('https://fonts.googleapis.com/css2?family=Copse&family=Didact+Gothic&family=Fredoka+One&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Didact+Gothic&family=Fredoka+One&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Didact+Gothic&family=Fredoka+One&family=Paytone+One&family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Didact+Gothic&family=Fredoka+One&family=Lilita+One&family=Paytone+One&family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo:wght@700&family=Didact+Gothic&family=Fredoka+One&family=Lilita+One&family=Paytone+One&family=Yanone+Kaffeesatz:wght@700&display=swap');




.showcase {
    min-height: 275px;
    position: relative;
    .showcase-header {
      z-index: 2;
      h1 {
        font-family: 'Lilita One', sans-serif;
      }
    }
    .showcase-overlay {
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }


#about-showcase {
    background: url("/assets/images/about/showcase.jpg") center / cover no-repeat;
}

#admissions-showcase {
    background: url("/assets/images/admissions/showcase.jpg") center / cover no-repeat;
}

#academics-showcase {
    background: url("/assets/images/academics/showcase.jpg") bottom / cover no-repeat;
}

#campus-showcase {
    background: url("/assets/images/campus/showcase.jpg") center / cover no-repeat;
}

#family-showcase {
    background: url("/assets/images/family/showcase.jpg") center / cover no-repeat;
}

#connect-showcase {
  background: url("/assets/images/connect/showcase.jpg") center / cover no-repeat;
}