
.giftsContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    margin-top: 3.5rem;
    // padding: 0 2rem;
  }
  
  .gift--scroll {
    width: 100%;
    margin: 0 2rem;
  }

.gift--box {
    // background: #FAFAFA;
  
    // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
    // border-radius: 10px;
    width: 700px;
    height: auto;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 2rem 1rem;
    transition: 300ms ease-in-out;
  }


//   .marquee {
//     padding: 3rem 0;
//   }


  @media screen and (max-width: 768px) {
    .gift--box {
      width: 350px;
      height: auto;
    }
  }