@import url('https://fonts.googleapis.com/css2?family=Copse&family=Paytone+One&display=swap');



.App.page-container {
    position: relative;
    min-height: 100vh;
  }


  .content-wrap {
    padding-top: 152px; /* Navbar height */
    // padding-bottom: 2.5rem; /* Footer height */
  }

  @media (max-width: 900px) {
    .content-wrap {
    padding-top: 57px;
     } /* Navbar height */
  }
    

  .section-hr {
    width: 150px;
    margin: auto;
    border-top: 3px solid;
  }

  h2 {
    font-family: 'Copse', serif;
  }